@import 'reset.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  border: none;
  box-sizing: border-box;
  background: transparent;
  border-radius: 0;
}

:global #root {
  height: 100%;
}
