.popup {
  position: absolute;
  height: 100px;
  width: 400px;
}

.body {
  border-radius: 4px;
  background: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.route {
  font-size: 9px;
  color: #979797;
}

.stop {
  color: #000;
  font-size: 12px;
  margin: 8px 0 0;
}

.arrivals {
  margin: 10px 0 0;
  font-size: 9px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
}

.arrival {
  margin: 0 10px 0 0;
}

.arrivalTime {
  color: #000;
}

.arrivalETA {
  color: #979797;
}
