.container {
  padding: 0 10px;
  display: flex;
}

.item {
  flex: 1;
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  align-items: center;
}

.container:first-of-type .item {
  border-top: none;
}

.number {
  font-size: 18px;
}

.name {
  font-size: 9px;
}
