@import 'reset.css';

*:focus {
  outline: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

:global .mapboxgl-ctrl-attrib {
  display: none !important;
}
